<div class="mt-4 my-courses-view">
    <h3>My Courses</h3>

    <table class="table table-striped table-bordered mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course name</th>
                <th scope="col">Paticipated time</th>
                <th scope="col">Level</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.level}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="#" class="btn btn-outline-primary">Delete</a>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-outline-primary">Change</a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>